<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farazzz.visitease">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="VisitEase"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/theme.VisitEase">
        <activity
            android:name=".ViewIndividualDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ViewEntryActivity"
            android:exported="false"
            android:label="Entries"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EntriesActivity"
            android:exported="false"
            android:label="Modify Entries"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:label="VisitEase"
            android:theme="@style/theme.VisitEase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>