<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farazzz.visitease">

    <application
        android:allowBackup="true"
        android:icon="@drawable/visiteaselogo"
        android:label="VisitEase"
        android:largeHeap="true"
        android:roundIcon="@drawable/visiteaselogo"
        android:supportsRtl="true"
        android:theme="@style/theme.VisitEase.NoActionBar">
        <activity android:name="com.farazzz.visitease.MainActivity"></activity>
        <activity
            android:name="com.farazzz.visitease.splash_screen"
            android:label="VisitEase"
            android:theme="@style/theme.VisitEase.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>